<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <!--<h2 class="text-center" style="color:red; margin: 10px; font-size: 5em;">-->
                    <h2>
                        <i class="fa fa-tint circle-icon" aria-hidden="true"></i>
                    </h2>
                        <!--<i class="fa fa-get-pocket" style="width: 70px;" aria-hidden="true"></i>-->
                    <!--</h2>-->
                    <h1 class="presentation-title text-center">DROP'N'BOX</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Safe delivery all over the world</h2>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto">Prototype by <span style="color: red;">#</span>hashproof team</h6>
        <!--<h6 class=" category-absolute ml-auto mr-auto">Design by Creative Tim</h6>-->
    </div>
</div>
